<div class="font-['Space Mono'] min-h-screen grid grid-cols-3 text-2xl text-secondary p-4">

    @* Main side panel *@
    @* <div class="bg-primary w-72"> *@

    <div class="text-sm bg-primary gap-2 flex flex-col">
        <div class="">
            <partial name="SampleLogoCard"></partial>
        </div>
        <div class="flex-end">
            <partial name="SampleCommandOptions"></partial>
        </div>
    </div>

    @* </div> *@

    @* <div class="flex flex-row justify-center bg-accent items-center"> *@
    <div class="flex-1 overflow-scroll">
        <partial name="SampleTable"></partial>
    </div>
    @* </div> *@

    <div class="h-screen">
        <partial name="DetailsPanel"/>
    </div>


</div>

<style>
*{
    /*border: 1px cyan solid;*/
}
</style>