@model dynamic

<div class="text-xs gap-2 flex flex-col">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut autem exercitationem, facere, ipsa ipsum iusto magnam nam officiis quasi qui quisquam recusandae repellendus repudiandae sint! Adipisci numquam sint <temporibus class=""></temporibus></p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus esse harum, illum molestias non perferendis quidem rerum tenetur unde? Alias animi dolorem doloremque earum mollitia odit, similique veniam. Ipsam.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur culpa eius ex harum illum, iusto mollitia nam neque quae qui quia rem, vero. Ad esse et facere totam vero.
    </p>

    <partial name="ContactMe"/>
</div>