@page
@using RazorHAT_Template.Pages
@model RazorHAT_Template.Pages.IndexModel
@inject ICommentService comment_service
@{
    ViewData["Title"] = "Home page";
}

<div x-data="setup()" class="rounded-xl border-yellow-500 border-2 m-2">
    <partial name="DashboardAttempt2"/>
    @* <partial name="DashboardAttempt1"/> *@
</div>

<script>
    function setup() {
        return {
            admin: false,
            debug_mode: true,
            hero_title: "Welcome to RazorHAT!"
        }
    }
</script>