@model dynamic

<div class="flex flex-col">

    <div
        x-data="{
            open: 'true'
            , card_options: {
                'Job Queue': {enabled: true, icon: 'certificate.svg', page: 'Jobs'},
                'Settings': {enabled: true, icon: 'cog.svg', page: 'Settings'},
            }
        }"
        class="m-2 join join-vertical justify-center flex flex-col">


        <div
            x-if="false">
            <partial name="SampleMenu"></partial>
        </div>

        <template x-cloak x-for="[key, value] of Object.entries(card_options)">

            <button
                x-on:click="card_options[key]=!value"
                class="p-1 btn btn-primary join-item shadow-md shadow-secondary-400/50">
                <img class="sm:w-4" :src="'/img/' + value.icon" :alt="key">
                <label
                    x-text="key"
                    :asp-for='key'>
                </label>
            </button>

        </template>

    </div>

</div>